---

---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-gray-700 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="bg-primary text-black font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >ALPHA</span
  >
  <span class="text-muted font-medium"
    >Huitzo is currently being developed. Expected Launch: May 2026 (IF NOT SOONER 👀)</span
  >
</div>
